::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blur {
  filter: blur(3px) brightness(0.5);
}
* {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  z-index: 999999;
}
.navbar-brand {
  margin-left: 0.5rem;
}
.logo {
  width: 110px;
  margin-top: -0.7rem;
}

.emblem {
  opacity: 0.6;
}
.emblem-active {
  opacity: 1;
}
.toyota {
  width: 50px;
}
.honda {
  width: 45px;
  margin-top: -0.3rem;
}
.hyundai {
  width: 65px;
  margin-top: -0.1rem;
}
.nissan {
  width: 50px;
  margin-top: -0.2rem;
}
.emblem-container li {
  margin: 0 1rem;
}
.search-border {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
}
.search-border::placeholder {
  color: rgba(0, 0, 0, 1);
}

#sections {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  /* border: solid 5px red; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  scroll-snap-align: start;
}

.nav-link {
  position: relative;
  margin-top: 0.7rem;
}

.underline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ea0f1e;
  transition: width 0.2s ease;
}

.badge-button-container {
  left: 50%;
}

.animate {
  opacity: 0;
  transition: 0.5s ease-in;
}
.animate-active {
  opacity: 1;
  z-index: 9999;
}
.active {
  width: 100%;
  left: 0;
  right: auto;
}
.nav-bar-active {
  background-color: #ffffffb0;
  transition: 0.2s;
}
.toyota-center-icon {
  width: 150px;
  top: 25%;
}
.honda-center-icon {
  width: 170px;
  filter: contrast(1.5);
}
.hyundai-center-icon {
  width: 170px;
  filter: brightness(3.5);
}
.nissan-center-icon {
  width: 140px;
}
.mazda-center-icon {
  width: 160px;
  filter: brightness(2);
}
.badge {
  top: 20%;
  pointer-events: none;
}
.button-container {
  bottom: 15%;
}
.btn-custom {
  font-family: "M PLUS 1p", sans-serif;
  border: black 1px solid;
  border-radius: 50px;
  background-color: #de1321cd;
  color: white;
  font-weight: 700;
  font-size: 13px;
  width: 350px;
  text-transform: uppercase;
}
.btn-custom:hover {
  background-color: transparent;
  color: white;
  opacity: 0.9;
}
.arrow-indicator {
  filter: brightness(0);
  left: 49.5%;
  right: 50%;
  width: 25px;
  height: 15px;
  animation: up-down 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.footer-logo {
  margin: 3rem auto 1rem auto;
  width: 170px;
  filter: invert();
}
.social-logos {
  width: 40px;
  margin: 0.5rem 0.7rem;
  cursor: pointer;
  filter: invert();
  opacity: 0.4;
}
.social-logos:hover {
  opacity: 0.3;
}
.red-text:hover,
.red-text ~ div:hover {
  opacity: 0.4;
}
.red-text {
  color: #ea0f1e;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 3rem;
}
.red-text ~ div {
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
  height: 100vh;
  background-color: black;
}
.black {
  background-color: black;
}
.footer-block {
  display: flex;
  margin: 0 10rem;
}
.footer-block div {
  cursor: pointer;
}
@media (max-width: 991px) {
  .icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-direction: column-reverse;
    z-index: 9999999;
  }
  .emblem-container li {
    margin-top: 1rem;
  }
  .emblem-container {
    display: flex;
    flex-direction: row;
  }
  .search {
    margin-top: 1rem;
    width: 90%;
  }
  .logo {
    margin-top: 0;
  }
}
@media (max-width: 760px) {
  .footer-block {
    margin: 0 1rem;
  }
  .footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: black;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .toyota-center-icon {
    width: 120px;
    top: 25%;
  }
  .honda-center-icon {
    width: 140px;
    filter: contrast(1.5);
  }
  .hyundai-center-icon {
    width: 140px;
    filter: brightness(2);
  }
  .nissan-center-icon {
    width: 110px;
  }
  .mazda-center-icon {
    width: 130px;
    filter: brightness(1.2);
  }
}
@media (max-width: 450px) {
  .emblem-container {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    z-index: 99999;
  }
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-custom {
    width: 80vw;
  }
}
@keyframes up-down {
  0% {
    bottom: 3%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 3%;
  }
}
