* {
  scroll-behavior: smooth;
}

nav {
  z-index: 99;
}
.logo {
  width: 130px;
  margin-top: -2rem;
}
.toyota {
  width: 55px;
}
.honda {
  width: 50px;
  margin-top: -0.3rem;
}
.hyundai {
  width: 70px;
  margin-top: -0.1rem;
}
.nissan {
  width: 55px;
  margin-top: -0.2rem;
}
.emblem-container li {
  margin: 0 1rem;
}
.search-border {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
}
.search-border::placeholder {
  color: rgba(0, 0, 0, 1);
}
.search {
  margin-top: -1rem;
}
#sections {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  /* width: 100vw; */
}

section {
  /* border: solid 5px red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  scroll-snap-align: start;
}

.nav-link {
  position: relative;
  margin-top: 1rem;
}

.underline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ea0f1e;
  transition: width 0.2s ease;
}
.active {
  width: 100%;
  left: 0;
  right: auto;
}

.center-icon {
  width: 150px;
}

/* .active {
  border-top: 1px solid #ea0f1e;
} */

.badge {
  top: 25%;
}
.button-container {
  bottom: 20%;
}
.btn-custom {
  font-family: "M PLUS 1p", sans-serif;
  border: black 1px solid;
  border-radius: 50px;
  background-color: rgb(58, 61, 65);
  color: white;
  font-weight: 600;
  font-size: 12px;
  width: 300px;
  text-transform: uppercase;
  z-index: 999;
  letter-spacing: 0.5px;
}
.btn-custom:hover {
  background-color: grey;
  color: white;
  opacity: 0.9;
}
@media (max-width: 991px) {
  .icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-direction: column-reverse;
    z-index: 9999999;
  }
  .emblem-container li {
    margin-top: 1rem;
  }
  .emblem-container {
    display: flex;
    flex-direction: row;
  }
  .search {
    margin-top: 1rem;
    width: 90%;
  }
  .logo {
    margin-top: 0;
  }
}
@media (max-width: 760px) {
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .btn-custom {
    margin-top: 1rem;
  }
}
@media (max-width: 450px) {
  .emblem-container {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99999;
  }
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-custom {
    width: 90vw;
  }
}
