.fortuner-logo {
  width: 100px;
}
.innova-logo {
  width: 90px;
}
section {
  border: 5px solid red;
}
.vios-logo {
  width: 80px;
}
.supra-logo {
  width: 100px;
}
.logo {
  margin-top: -1.5rem;
}
.car-container{
  margin-top: 10rem;
}
.img-responsive{
  
  position: absolute;
  margin-left: 2rem;
  margin-top: -4rem;
  position: absolute;
  width: 80%;
  max-width: 850px;
}

.whole-title-container{
  margin-top: 3rem;
  width: 1200px;
  justify-content: space-between;
  max-width: 90%;
}
.title{
  font-weight: bold;
  color: #EB0A1E;
  font-size: 45px;
  margin-top: -3.4rem;
}
.msrp{
  font-size: 13px;
  font-weight: 500;
  margin-top: -.5rem;
}
.msrp-underline{
  margin-top: 1.5rem;
}
.price{
  font-size: 30px;
  font-weight: bold;
}
.automatic{
  font-size: 18px;
  font-weight: 600;
}
.trans{
  font-size: 10px;
  margin-top: -.3rem;
  text-transform: uppercase;
  font-weight: 600;
}
.colorpick-container{
  bottom: 20%;
  z-index: 99999;
}
.circle{
  cursor: pointer;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: #EB0A1E;
  margin: 0 .5rem;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
}
.platinum-white{
  background-color: #ffffff;
}
.black{
  background-color: #08112F;
}
.black-mica{
  background-color: #000000;
}
.gray{
  background-color: #515151;
}
.silver-metallic{
  background-color: #BFBFBF;
}
.neg-margin{
  margin-top: -.6rem;
}
@media (max-width: 991px) {
  .logo {
    margin-top: 0;
  }
}
